.Course_Spec {
  background-color: #0b0c10 !important;  
  font-family: 'Open Sans', sans-serif;
}

.Course_Spec_Dash {
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px;
}

.Course_Spec_Dash .panel-title {
  font-family: 'Open Sans', sans-serif;
  color: #0b0c10;
  font-size: 14px;
}

.Course_Spec_Dash_Announcement {
  font-family: 'Open Sans', sans-serif;
  color: #0b0c10;
}

.Course_Spec_Dash .panel-body {
  font-family: 'Open Sans', sans-serif;
  color: #0b0c10 !important;
}

.Course_Spec_Dash .panel-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.Course_Spec_Dash label {
  font-family: 'Open Sans', sans-serif;
  color: #0b0c10 !important;
}

.Course_Description {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.Course_Instructor {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.Course_Post {
  margin-right: 7px;
  max-width: 50%;
  cursor: pointer;
  color: #595E69 !important;
}

.Course_Post-active {
  margin-right: 7px;
  max-width: 50%;
  cursor: pointer;
  color: #0b0c10 !important;
  font-weight: bolder;
}

.Course_Post-active:hover {
  cursor: default;
  text-decoration: none !important;
}

.Course_Option {
  padding-top: 7px !important;
}

.Course_Posted {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.Course_Posted .panel-body {
  white-space: normal;
}

.Course_Posted .panel-title {
  white-space: normal;
  font-size: 13px;
  font-weight: bold;
}

.Course_Posted pre{
  word-break: keep-all;
  border: 0px;
  background-color: inherit;
  font-family: 'Open Sans', sans-serif;
}

.Course_Opt {
  float: right;
  width: 100% !important;
}

.Announcement_Detail {
  float: left !important;
  padding-top: 5px;
  padding-right: 5px;
}

.Announcement_Detail_Time {
  margin: 0px 0px 0px !important;
  font-weight: normal;
}

.Questionnaire {
  height: 100vh !important;
  background-color: #0b0c10 !important;    
}

.custom-table {
  width: 175px;
}

.custom {
  width: 30px !important;
  height: 25px !important;
  padding: 0px;
  margin: 0px;
}

.desc {
  width: 400px !important;
}

.change-name {
  color: black;
}

.glyphicon.glyphicon-pencil {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.glyphicon.glyphicon-remove {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.change-name {
  cursor: pointer !important;
  text-decoration-line: underline !important;
}

.slider-pic {
  width: 100%;
  height: 360px !important;
}

.course_glyph {
  background-color: #c5c6c7;
  padding: 7px;
  border-radius: 50px;
  font-size: 18px !important;
}

.post_glyph {
  background-color: #c5c6c7;
  padding: 5px;
  border-radius: 50px;
  font-size: 14px !important;
  color: white;
  margin-right: 5px;
}

.glyph_spec {
  font-size: 13px !important;
  margin-left: 4px;
}

textarea {
  resize: none;
}

.centralized {
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .Course_Option {
    padding-top: 0px !important;
    text-align: center;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .Course_Header {
    font-size: 30px !important;
  }

  .Course_Header-sub {
    font-size: 30px !important;
  }

  .Course_Description {
    font-size: 14px !important;
  }
  
  .Course_Instructor {
    margin-bottom: 35px !important;
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 347px) {
  .Course_Header {
    font-size: 25px !important;
  }

  .Course_Header-sub {
    font-size: 25px !important;
  }

  .Course_Description {
    font-size: 13px !important;
  }

  .Course_Instructor {
    margin-bottom: 40px !important;
  }

}