.Home {
  background-color: rgba(44,62,80,1) !important; 
  height: 100%;
  overflow: hidden;
}

.Home_info {
  background-color: rgba(236,240,241,1) !important;   
  height: 100vh;
}

.Home_info_padding {
  padding-top: 50px;
}

.Home_info_pic {
  text-align: center;
}

.Home_info_pic_holder {
  border-radius: 50%;
  height: 85px;
  width: 85px;
}

.Home_info_name {
  margin-top: 13px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 21px;
  text-align: center;
}

.Home_info_studno {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  text-align: center;
}

.Home_ann_padding {
  padding-top: 10px;
}

.Home_ann_header {
  font-family: 'Titillium Web', sans-serif;
  color: rgba(236,240,241,1) !important;
  padding-left: 50px;
}

.Home_course_header {
  font-family: 'Titillium Web', sans-serif;
  color: rgba(236,240,241,1) !important;
}

.Home_ann_announcement {
  font-family: 'Titillium Web', sans-serif;
  background: rgba(236,240,241,1) !important;
  border-radius: 10px;
  padding: 10px;
}

.Home_ann_announcement_cont {
  font-family: 'Titillium Web', sans-serif;
  padding-left: 50px;
  background: rgba(236,240,241,1) !important;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: solid 1px;
}

.Home_cards {
  margin-top: 2% !important;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.Home .panel {
  margin-bottom: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom: 0px !important;
  position: relative;
  background-color: #1f2833;
}

.Home .panel-default {
  position: relative;
  border: 2px solid #1f2833;
  border-bottom: 2px solid #1f2833;
}

.Home .panel-heading {
  padding: 10px 20px;
  padding-bottom: 30px;
  text-align: center;
}

.Home .panel-header a {
  color: rgba(102, 252, 241, 1);
}

.Home .panel-default > .panel-heading {
  background-color: white;
}

.Home .panel-figure {
  margin-top: -10%;
}

.Home-Posted {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.Home-Posted .panel-body {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  background-color: #1f2833;
}

.Home-Posted .panel-heading {
  background-color: #fff !important;
}

.Home-Posted .panel-title {
  white-space: normal;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

.Home pre{
  word-break: keep-all;
  border: 0px;
  background-color: inherit;
  font-family: 'Open Sans', sans-serif;
  color: #fff !important;
}

.custom-announce {
  margin-bottom: 10px;
}

.Thumb_Panel {
  margin: 15px !important;
  display: flex !important;
  display: -ms-flex; 
  display: -webkit-flex;
}

.Thumb_Panel .home {
  color: #000 !important;
}

hr {
  width: 96% !important;
  border: 1px solid white !important;
}

.Home_scroll_announce {
  height: 450px;
  width: 100%;
  overflow-y: scroll;
}

.Home_margin {
  width: 100% !important;
}