.Home {
  background-color: rgba(44,62,80,1) !important; 
  height: 100%;
}

.Home_info {
  background-color: rgba(236,240,241,1) !important;   
  height: 100vh;
}

.Home_info_padding {
  padding-top: 50px;
}

.Home_info_pic {
  text-align: center;
}

.Home_info_pic_holder {
  border-radius: 50%;
  height: 85px;
  width: 85px;
}

.Home_info_name {
  margin-top: 13px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 21px;
  text-align: center;
}

.Home_info_studno {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  text-align: center;
}

.Home_ann_padding {
  padding-top: 10px;
}

.Home_ann_header {
  font-family: 'Titillium Web', sans-serif;
  color: rgba(236,240,241,1) !important;
  padding-left: 50px;
}

.Home_course_header {
  font-family: 'Titillium Web', sans-serif;
  color: rgba(236,240,241,1) !important;
}

.Home_ann_announcement {
  font-family: 'Titillium Web', sans-serif;
  background: rgba(236,240,241,1) !important;
  border-radius: 10px;
  padding: 10px;
}

.Home_ann_announcement_cont {
  font-family: 'Titillium Web', sans-serif;
  padding-left: 50px;
  background: rgba(236,240,241,1) !important;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: solid 1px;
}

.Home_cards {
  margin-top: 2% !important;
  margin: 0 auto;
  width: 100%;
}

hr {
  width: 96% !important;
  border: 1px solid white !important;
}

