.Landing {
  background: url('./../assets/landing.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

.Landing_over {
  background-color: rgba(44,62,80,.7) !important;
  background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  min-height: 100vh;
}

.Landing_over_split {
  border-right: 1px solid #999;
}

.Landing_over_separator {
  width: 25px;
  height: 1px;
  background-color: hsla(0,0%,100%,.6);
  margin: 20px 0;
}

.Landing_over_quest {
  color: hsla(0,0%,100%,.6)!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 22px!important;
}

.Landing_over_button {
  background-color: #337ab7;
  fill-opacity: 1 !important;
  opacity: 1 !important;
  margin: 20px auto !important;
  border-radius: 500px;
  border: none;
  display: block;
  width: 100%;
  outline: none !important;
  padding: 17px;
  font-size: 115%;
  font-weight: bold;
  color: rgba(236,240,241,1);
  letter-spacing: 2px;
}

.Landing_over_button:hover {
  color: rgba(236,240,241,1);
  letter-spacing: 2px;
}

.Landing_over_button:after {
  color: rgba(236,240,241,1);
  letter-spacing: 2px;
}

.Landing_over_button:focus {
  color: rgba(236,240,241,1);
  letter-spacing: 2px;
}

.Landing__Subs {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

/* Predefined classes with modifications */

.datepick {
  padding-right: 12px !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.form-group .glyphicon {
  font-size: 14px !important;
}

@media screen and (max-width:991px) {
  .Landing_over_split {
    border: 0px;
  } 
}