.Navigation {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #1f2833;
  background: #1f2833;
  border-radius: 0px !important;
  border: 0px !important;
}

.Navigation a {
  color: #FFF !important;
}

.Navigation .dropdown-menu {
  background-color: #1f2833 !important;
}

.Navigation_Brand {
  font-family: 'Gloria Hallelujah', cursive !important;
}

.Navigation_Pages {
  font-family: 'Open Sans', sans-serif !important;
}