.Navigation {
  padding: 0px !important;
  margin: 0px !important;
}

.Navigation_Brand {
  font-family: 'Gloria Hallelujah', cursive !important;
}

.Navigation_Pages {
  font-family: 'Open Sans', sans-serif !important;
}