.Questionnaire {
  height: 100vh !important;
}

.custom-table {
  width: 175px;
}

.custom {
  width: 30px !important;
  height: 25px !important;
  padding: 0px;
  margin: 0px;
  /* margin-left: 25px; */
  /* margin-right: 25px; */
  /* display: block;
  margin: auto; */
}

.desc {
  width: 400px !important;
}

.change-name {
  color: black;
}

.glyphicon.glyphicon-pencil {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.glyphicon.glyphicon-remove {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}
.change-name {
  cursor: pointer !important;
  text-decoration-line: underline !important;
}