.Question {
  height: 100vh !important;
}

.accord-edit {
  /* border: 1px solid !important; */
}

.toggle {
  margin-top: 5px;
  display: block;
  background: white(0,0,0,0.78);
  color: #fefefe;
  padding: 1px;
  border-radius: 0.4em;
  transition: background .3s ease;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.quest-button {
  width: 93% !important;
  text-align: left !important;
}

.quest-button:focus, .quest-button:focus:active {
  outline: none;
}

.quest-remove {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  float: right;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.pre-height {
  height: 75px !important;
}

.gly-custom {
  margin-left: 0px !important;
  float: right;
}

.ans-custom {
  word-wrap: break-word;
  float: left;
  width: 80% !important;
}

.image-answer{
  cursor: pointer;
  height: 350px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image-answer img{
  width: 100%;
  height: auto;
}
