.Report {
  margin-top: 20px;
  text-align: center !important;
}

.Reports {
  text-align: center;
  color: #fff;
}

.Report_Figures {
  margin-bottom: 75px;
}

.Report_Students {
  margin-bottom: 25px;
}

.Report_Table {
  color: #fff;
}

.Report_Students_DD {
  width: 100%;
}

.Report_Exports {
  text-align: center;
  margin-bottom: 20px;
}

.Report_Download {
  color: #fff;
}

.Report_Download:hover {
  color: #fff;
  text-decoration: none;
}

.Report_Table_Responsive {
  overflow-x: auto;
}

.Report_Modal_Responsive {
  width: 80vw !important;
  word-wrap: break-word
}

.Report_Link {
  color: #fff;
}

.Report_Link:hover {
  color: #bbb;
}

.Report_Link:active {
  color: #bbb;
}

.Report_Link:visited {
  color: #bbb;
}

.Divider {
  height: 1px !important;
  width: 100% !important;
  background-color: #fff !important;
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .Report_Submit {
    margin-top: 10px;
  }
}