.Report {
  margin-top: 20px;
  text-align: center !important;
}

.Reports {
  text-align: center;
  color: #fff;
}

.Report_Figures {
  margin-bottom: 75px;
}

@media only screen and (max-width: 991px) {
  .Report_Submit {
    margin-top: 10px;
  }
}