<div>
    <section id="t-cards">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-default panel-card">
                        <div class="panel-heading">
                            <small class="small-text">Rozano Maniaol</small>
                            <!-- <button class="btn btn-primary btn-sm" role="button">Follow</button> -->
                        </div>
                        <div class="panel-figure">
                            <img class="circle-img img-responsive img-circle" src="../assets/landing.jpg" />
                        </div>
                        <div class="panel-body text-center">
                            <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">CMSC 137</a></h4>
                            <small>A short description goes here.</small>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-default panel-card">
                        <div class="panel-heading">
                            <small class="small-text">Caroline Natalie Peralta</small>
                            <!-- <button class="btn btn-primary btn-sm" role="button">Follow</button> -->
                        </div>
                        <div class="panel-figure">
                            <img class="circle-img img-responsive img-circle" src="../assets/landing.jpg" />
                        </div>
                        <div class="panel-body text-center">
                            <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">CMSC 124</a></h4>
                            <small>A short description goes here.</small>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-default panel-card">
                        <div class="panel-heading">
                            <small class="small-text">Reginald Neil Recario</small>
                            <!-- <button class="btn btn-primary btn-sm" role="button">Follow</button> -->
                        </div>
                        <div class="panel-figure">
                            <img class="circle-img img-responsive img-circle" src="../assets/landing.jpg" />
                        </div>
                        <div class="panel-body text-center">
                            <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">CMSC 128</a></h4>
                            <small>A short description goes here.</small>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="panel panel-default panel-card">
                        <div class="panel-heading">
                            <small class="small-text">Maria Art Antonette Clarino</small>
                            <!-- <button class="btn btn-primary btn-sm" role="button">Follow</button> -->
                        </div>
                        <div class="panel-figure">
                            <img class="circle-img img-responsive img-circle" src="../assets/landing.jpg" />
                        </div>
                        <div class="panel-body text-center">
                            <h4 class="panel-header"><a href="https://twitter.com/maridlcrmn">CMSC 150</a></h4>
                            <small>A short description goes here.</small>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </section>
</div>

<div class="circle-button">
    <!-- <button type="button" class="btn btn-default btn-lg"> -->
        <span class="glyphicon glyphicon-plus"></span>
    <!-- </button> -->
</div>

<link rel="stylesheet" type="text/css" href="../css/course.css">
