<div class="Home col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="row">
    <div class="Home_info col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="Home_info_padding col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      </div>
      <div class="Home_info_pic col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <img class="Home_info_pic_holder" src="./../assets/landing.jpg">
          </div>
        </div>
      </div>
      <div class="Home_info_name col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        User Name
      </div>
      <div class="Home_info_studno col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        2014-12701
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
      <div class="row">
        <div class="Home_ann_padding col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
        <div class="Home_ann_header col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h2>Announcements</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="Home_ann_announcement card col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="Home_ann_announcement_cont card-block">
              This is some text within a card block.
            </div>
            <div class="Home_ann_announcement_cont card-block">
              This is some text within a card block.
            </div>
            <div class="Home_ann_announcement_cont card-block">
              This is some text within a card block.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>