<div ng-controller="question-controller" ng-init="questions_view()" class="container">
  <h1 id="val_name"></h1>
  
  <button id="export-btn" class="btn btn-primary" id="Signup" data-toggle="modal" data-target=".bd-example-modal-lgs">Add Question</button>

  <div id="accordion" ng-repeat="questions in user">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne{{$index+1}}" aria-expanded="true" aria-controls="collapseOne">
            Question Item #{{$index+1}}
          </button>
        </h5>
      </div>
  
      <div id="collapseOne{{$index+1}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <pre>{{questions.question_desc}}</pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="question-controller" class="modal fade bd-example-modal-lgs" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Questionnaire</h4>
      </div>
      <div class="modal-body">
        <form>
          <!-- Question description -->
          <div class="form-group">
            <label class="control-label" for="inputGroupSuccess1">Add Question</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
              <textarea ng-model="questionsData.question_desc" type="text" rows="5" class="form-control" aria-describedby="inputGroupSuccess1Status" placeholder="Enter question"></textarea>
            </div>
          </div>

          <button ng-click="questions_add()" type="submit" class="btn btn-primary">Submit</button>
          <button class="btn">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>