<div class="container" ng-controller="quiz-controller" ng-init="quiz_get()">
    
  <h1 class="text-sm-center">Quiz Title</h1>
  <div>
    <div>
      <div class="badge badge-info">
        Question {{question_no}} of {{size}}.
      </div>
      <pre>{{quiz}}</pre>
      
      <div class="row text-left options">
        <div class="col-md-6">
          <div class="option">
            <div class="container-fluid">
              <div class="row">
                <pre class="col-xs-6" ng-repeat="answers in answer">{{answers.choices}}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="center-div">
      <button class="btn btn-primary btn-choices">First</button>
      <button class="btn btn-primary btn-choices" ng-click="quiz_prev()">Prev</button>
      <button class="btn btn-primary btn-choices" ng-click="quiz_next()">Next</button>
      <button class="btn btn-primary btn-choices">Last</button>
    </div>
  </div>

  <div>
    <div class="inner-div">
      <button class="btn btn-primary btn-choices">Review</button>
      <button class="btn btn-primary btn-choices">Submit Quiz</button>
    </div>
  </div>

</div>