<div class="Course row" ng-controller="courses-controller" ng-init="check_auth(); courses_view()">
  <div ng-controller="report-controller" ng-init="list_questionnaires()">
    <p class="Course_Header">Courses' Report</p>
    <form class="Report row" ng-controller="course-controller">
      <select id="course_selected" class="col-xs-8 col-md-2 col-lg-2 js-example-basic-single js-example-basic-hide-search" name="state" ng-model="report_data.course_selected">
        <option ng-repeat="course in courses" value="{{course.course_id}}">{{course.course_title}}</option>
      </select><br class="hidden-md hidden-lg"/>
      <select class="col-xs-8 col-md-2 js-example-basic-single js-example-basic-hide-search" name="state" ng-init="display = 'Quiz'" id="display" ng-model="display">
        <option value="Quiz">Quiz</option>
        <option value="Assignment">Assignment</option>
        <option value="Activity Log">Activity Log</option>
      </select><br class="hidden-md hidden-lg"/>
      <select id="questionnaire_selected" class="col-xs-8 col-md-2 col-lg-2 js-example-basic-single js-example-basic-hide-search" name="state" ng-disabled="display === 'Activity Log'">
        <option ng-repeat="questionnaire in questionnaires | filter: {course_id: report_data.course_selected}" value="{{questionnaire.questionnaire_id}}" ng-if="display === 'Quiz' && report_data.course_selected !== ''">{{questionnaire.questionnaire_name}}</option>
        <option ng-if="display === 'Assignment'" value="Sample Assignment">Sample Assignment</option>
      </select>
      <br class="hidden-md hidden-lg"/>
      <button id="export-btn" class="Report_Submit btn btn-primary" id="Signup" ng-click="generate_report()" ng-if="loading === 0">Submit</button>
      <button id="export-btn" class="Report_Submit Course_Preloader btn btn-primary" id="Signup" ng-if="loading === 1">&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;&nbsp;</button>
    </form><br/><br/>
    <div class="row" ng-if="display === 'Quiz'">
      <div class="col-lg-2"/>
      <div class="Reports col-lg-4" ng-if="get_flag === 1">
        <h4>Overall Average Time Answering the Quiz: <br/>
          <span ng-if="final_time.hour !== 0">{{final_time.hour}} hour(s)</span>
          <span ng-if="final_time.minutes !== 0">{{final_time.minutes}} minute(s)</span>
          <span ng-if="final_time.seconds !== 0">{{final_time.seconds}} second(s)</span>
        </h4>        
      </div>
      <div class="Reports col-lg-4" ng-if="get_flag === 1">
        <h4>Highest Scores Average Time Answering the Quiz: <br/>
          <span ng-if="final_time_highest.hour !== 0">{{final_time_highest.hour}} hour(s)</span>
          <span ng-if="final_time_highest.minutes !== 0">{{final_time_highest.minutes}} minute(s)</span>
          <span ng-if="final_time_highest.seconds !== 0">{{final_time_highest.seconds}} second(s)</span>
        </h4>        
      </div>
      <div class="col-lg-2"/>
    </div>
    <div class="Report_Figures row">
      <div class="col-xs-1 col-lg-3"></div>
      <div class="col-xs-10 col-lg-3">
        <canvas id="passrate" width="400" height="400"></canvas>
      </div>
      <div class="col-xs-1 hidden-sm hidden-md hidden-lg"></div>      
      <div class="col-xs-1 hidden-sm hidden-md hidden-lg"></div>      
      <div class="col-xs-10 col-lg-3">
        <canvas id="myChart1" width="400" height="400"></canvas>
      </div>
      <div class="col-xs-1 col-lg-3"></div>
    </div>
    <div class="row">
      <div class="col-xs-1 col-lg-4"></div>
      <div class="col-xs-10 col-lg-4">
        <canvas id="timetable" width="600" height="400"></canvas>
      </div>
      <div class="col-xs-1 col-lg-4"></div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.js-example-basic-single').select2();
    $(".js-example-basic-hide-search").select2({
      minimumResultsForSearch: Infinity
    });
  });
  
</script>