<div class="container">

  <h1 class="text-sm-center">Quiz Title</h1>
  <div>
    <div>
      <div class="badge badge-info">
        Question 1 of 10.
      </div>
      <pre>1. Ready ka na ba?</pre>
      
      <div class="row text-left options">
        <div class="col-md-6">
          <div class="option">
            <label class="">
              a.
            </label>  
          </div>
        </div>
      </div>
    </div>
    
    <div class="center-div">
      <button class="btn btn-primary btn-choices">First</button>
      <button class="btn btn-primary btn-choices">Prev</button>
      <button class="btn btn-primary btn-choices">Next</button>
      <button class="btn btn-primary btn-choices">Last</button>
    </div>
  </div>

  <div>
    <div class="inner-div">
      <button class="btn btn-primary btn-choices">Review</button>
      <button class="btn btn-primary btn-choices">Submit Quiz</button>
    </div>
  </div>

</div>